html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: visible;
    background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-bg{
  background-image: url(../../Black\ and\ White\ Classy\ &\ Dark\ Refined\ Religious\ \ Spiritual\ Desktop\ Wallpaper.png);
}


@media only screen and (min-width: 1000px) {
  .top-space{
    width: 30rem !important;
  }
}