/* fonts */
@font-face {
    font-family: "rale";
    src: url("../styles/fonts/RALEWAY-REGULAR.TTF");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "play";
    src: url("../styles/fonts/Playlist\ Script.otf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

.index-bg{
    background-image: url(../../Black\ and\ White\ Classy\ &\ Dark\ Refined\ Religious\ \ Spiritual\ Desktop\ Wallpaper.png);
    background-size: auto;
    max-height: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
}

.main-page-intro{
  font-family: rale;
}
.play-text{
  font-family: play;
  font-size: larger;
}
@media only screen and (max-width: 400px) {
    .index-bg {
      background-image: url(../../small-bg.png); 
      background-color: black;
    }
    .bg-nav{
        background-image: url(../../logo1.png);
        background-size: fit;
        max-width: 200px;
        max-height: 60px;
        margin-right: 0;
    }
  }

  @media only screen and (max-width: 600px) and (min-width: 401px) {
    .index-bg {
      background-image: url(../../med-bg.png); 
      background-color: black;
    }
    .bg-nav{
        background-image: url(../../logo4.png);
        background-size: contain;
        max-width: 200px;
        max-height: 60px;
        margin-right: 0;
    }
  }

  @media only screen and (max-width: 900px) and (min-width: 700px) {
    .index-bg {
      background-image: url(../../tab-bg.png); 
      background-color: black;
    }
    .bg-nav{
        background-image: url(../../logo4.png);
        background-size: contain;
        max-width: 200px;
        max-height: 60px;
        margin-right: 0;
        margin-top: 10px;
    }
  }
.bg-nav{
    background-image: url(../../logo4.png);
    background-size: cover;
    width: 200px;
    height: 60px;
}

/* Hamburger Menu */
.navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: rgb(255,102,203) !important;
}
  
  .navbar-toggler {
    /* border: 1px solid rgba(255, 255, 255); */
    margin-right: 2px;
  }


/* Photossss */
.wrapper {
  padding: 100px;
}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center right;
}

/* Social media icons */
 /* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
} */

.social-section {
	/* width: 100%;
	height: 100vh; */
	display: grid;
	place-items: center;
	/* background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
} 

.button {
	float: left;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background: #fff;
	overflow: hidden;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button span {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
}

.button:hover {
	width: 200px;
}

.button:nth-child(1):hover .icon {
	background: #e1306c;
}

.button:nth-child(2):hover .icon {
	background: #4267b2;
}

.button:nth-child(3):hover .icon {
	background: #1da1f2;
}

.button:nth-child(4):hover .icon {
	background: #0e76a8;
}

.button:nth-child(5):hover .icon {
	background: #ff0000;
}

.button:nth-child(6):hover .icon {
	background: #333;
}

.button:nth-child(1) span {
	color: #e1306c;
}

.button:nth-child(2) span {
	color: #4267b2;
}

.button:nth-child(3) span {
	color: #1da1f2;
}

.button:nth-child(4) span {
	color: #0e76a8;
}

.button:nth-child(5) span {
	color: #ff0000;
}

.button:nth-child(6) span {
	color: #333;
}

.button .icon {
	width: 60px;
	height: 60px;
	text-align: center;
	border-radius: 50px;
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-in-out;
}

.button:hover i {
	color: #fff;
}
